<div class="notification-container">
  <div *ngFor="let notification of notifications" [ngClass]="'notification notification-' + notification.type" class="notification-item">
    <div class="notification-content">
      <div class="notification-main">
        <mat-icon class="notification-icon">{{ getIconForType(notification.type) }}</mat-icon>
        <div class="notification-message">
          <span class="message-text">{{ notification.message }}</span>
          <span class="message-time">{{ notificationElapsedTime[notification.id] }} / {{ notificationTotalTime[notification.id] }}</span>
        </div>
      </div>
      <span class="message-duration">{{ getTimeLabel() }}: {{ notificationElapsedTime[notification.id] }}</span>
    </div>
    <button mat-icon-button (click)="close(notification.id)" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
    <div class="progress-bar">
      <div class="progress-fill" [style.width.%]="notificationProgress[notification.id]"></div>
    </div>
  </div>
</div>
